.idea/ffmpegeaesy.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
No output folder selected/Composition 1.mp4
test_media/sample_audio.wav
test_media/sample_image.jpg
test_media/sample_video.mp4
.idea/.gitignore

# Virtual environment for GUI
venv-gui/
